doctype html
html
  head
    title 赠礼·生日蛋糕

  body
    h2 蛋糕来啦！
    h3 #{mail}
    p 用我的手机号：13018055200 就可以领啦！
    p 没敢填你的手机号，主要是怕订单短信发你手机上暴露了。
    p （每每提到暴露就非常心痛）
    p 啊，说起来你有没有猜到蛋糕就是我发的那张图呢？
    p 不至于没猜到吧！？那可是我一样就看中的！
    p 可惜我没办法给你送过去了，我争取让导师早点放我跑路！
    p 还有还有，礼物选择已经推到我手机上了！
    p #{present}
    p 看来我要好好规划规划怎么玩了（深思.jpg
    p 那么快享受蛋糕去吧！
    p 再补一句，其实邮件有根据访问时间和礼物选择的不同有多个版本，
    p 刚才的打字动画也会根据访问时间不同有多个版本，
    p 那么你究竟是抽到的哪一种幸运呢？